h1, h2, h3, h4{
    text-align: center;
}
.fadeIn{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner{
    padding: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    background: no-repeat center center;
    box-shadow: 0px 1px 51px 10px rgba(111,214,114,0.78);
    border-radius: 28px 28px 28px 28px;

    @include tablet {
        height: 40vh;
    }

    @include mobile {
        display: none;
    }

    }
}
.main__contenedor--contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    @include mobile {
        textarea{width: 200px;}
    }
}
.img__vianda{
    width: 100%;
    height: 20vh;
}
.grid__fit, .grid__sintacc, .grid__prote, .grid__veg{
    display: grid;
    justify-items: center;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    ". titulo titulo titulo ."
    ". box1 box2 box3 ."
    ;
    @include tablet{
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
    ". titulo titulo ."
    ". box1 box2 ."
    ". box3 box3 ."
    ;
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box1, .box2, .box3{
            width: max-content;
        }
    }
}
.box1{
    grid-area: box1;
    margin-bottom: 60px;
}
.box2{
    grid-area: box2;
    margin-bottom: 60px;
}
.box3{
    grid-area: box3;
    margin-bottom: 60px;
}
.titulo__fit, .titulo__sintacc, .titulo__prote, .titulo__veg{
    grid-area: titulo;
    margin-bottom: 60px;
    margin-top: 20px;
}
.box1:hover{
    transform: scale(1.2);
}
.box2:hover{
    transform: scale(1.2);
}
.box3:hover{
    transform: scale(1.2);
}
.main__index--box1{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    div{
        margin: 20px;
        width: 200px;
        padding: 10px;
        border: solid rgb(40, 179, 47);
        border-radius: 25px;
        p{
            text-align: center;
            font-size:larger;
        }
    }
}
.main__index--box2{
    display: flex;
    align-items: center;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 500px;
        border-radius: 25px;
        margin-left: 50px;
        margin-right: 50px;
        @include mobile {
            width: 300px;
        }
    }
    p{
        font-size:large;
        margin: 25px;
        @include tablet{
            margin-left: 70px;
            margin-right: 70px;
        }
    }
}
.main__index--box3{
    display: flex;
    justify-content: space-evenly;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    div{
        width: 250px;
        img{
        width: 150px;
        margin-left: 50px;
        }
    }
    p{
        width: 200px;
    }
}
.btn__compra{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    a{  
        font-weight: bold;
        font-size: large;
        color: azure;
        display:flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 200px;
        height: 70px;
        background-color: rgb(16, 168, 95);
        border-radius: 25px;
    }
}
.main__nosotros--desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        width: 700px;
        text-align: center;
        @include tablet {
            width: 400px;
        }
        @include mobile {
            margin: 20px;
            width: auto;
        }
    }
}  
.main__nosotros--just2--mobile{
    display: none;
}
.nosotros__just, .entregas__contenedor{
    p{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    img{
        border-radius: 25px;
        width: 400px;
    }
    .main__nosotros--just1, .main__nosotros--just2, .main__nosotros--just3, .horarios{
        display: flex;
        align-items: center;
        margin: 20px;
    }
}
@include tablet {
    .nosotros__just, .entregas__contenedor{
        .main__nosotros--just2{display: none;}
        .main__nosotros--just2--mobile{
            display: flex;
        }
        .main__nosotros--just1, .main__nosotros--just2--mobile, .main__nosotros--just3, .horarios{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }
    }
}
@include mobile {
    .nosotros__just, .entregas__contenedor{
        img{width: 250px;}
    }
}